<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>MinKyu Lee</title>

    <meta name="author" content="MinKyu Lee">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
  </head>

  <body>
    <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
      <tr style="padding:0px">
        <td style="padding:0px">
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr style="padding:0px">
              <td style="padding:2.5%;width:63%;vertical-align:middle">
                <p class="name" style="text-align: center;">
                    MinKyu Lee
                </p>
                <p style="text-align: center;">
                    2minkyulee@gmail.com
                </p>
                <p>
                    I am a Ph.D. candidate in the Visual Computing Lab (<a href="https://sites.google.com/site/vclabskku/publications?authuser=0">VCLab</a>) at Sungkyunkwan University, supervised by Prof. Jae-Pil Heo.
                    I received my Master's and Bachelor's degrees from Sungkyunkwan University.
                    My research focuses on <strong>low-level vision, image restoration and generative modeling</strong>.
                </p>

                <p style="text-align:center">
                  <a href="https://scholar.google.com/citations?user=t20G_eAAAAAJ&hl=ko&oi=sra">Google Scholar</a> &nbsp;/&nbsp;
                  <a href="https://github.com/2minkyulee/">Github</a> &nbsp;/&nbsp;
                  <a href="https://www.linkedin.com/in/minkyu-lee-733b1227b/">LinkedIn</a> &nbsp;/&nbsp;
                  <a href="static/pdfs/xxx_minkyulee.pdf">CV</a>
                </p>

              </td>
              <td style="padding:2.5%;width:20%;max-width:20%">
                <a href="static/images/profile.jpg"><img style="width:100%;max-width:100%;object-fit: cover; border-radius: 50%;" alt="profile photo" src="static/images/profile.jpg" class="hoverZoomLink"></a>
              </td>
            </tr>
          </tbody></table>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

            <tr>
              <td style="padding:20px;width:100%;vertical-align:middle">
                <h2>Publications</h2>
              </td>
            </tr>

            <tr>
              <td style="padding:20px;width:100%;vertical-align:middle">
                <div class="pub-card pub-card-first">
                  <div class="pub-media">
                    <img src="static/images/ICLR2026_Analyzing.png" alt="ICLR 2026 Analyzing thumbnail">
                  </div>
                  <div class="pub-body">
                    <a href="https://openreview.net/forum?id=SbLj5hJXh6">
                      <span class="papertitle">Analyzing the Training Dynamics of Image Restoration Transformers: A Revisit to Layer Normalization</span>
                    </a>
                    <br>
                    MinKyu Lee, Sangeek Hyun, Woojin Jun, Hyunjun Kim, Jiwoo Chung, Jae-Pil Heo
                    <br>
                    <em>ICLR</em>, 2026
                    <br>
                    <a href="https://openreview.net/forum?id=SbLj5hJXh6">OpenReview</a>
                    /
                    <a href="https://arxiv.org/abs/2504.06629">arXiv</a>
                    /
                    <a href="https://github.com/2minkyulee/i-LN">Code</a>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td style="padding:20px;width:100%;vertical-align:middle">
                <div class="pub-card">
                  <div class="pub-media">
                    <img src="static/images/NeurIPS2025_Diffusion.png" alt="NeurIPS 2025 Diffusion thumbnail">
                  </div>
                  <div class="pub-body">
                    <a href="https://openreview.net/forum?id=Kf9eNbp4wy">
                      <span class="papertitle">Diffusion Feature Field for Text-based 3D Editing with Gaussian Splatting</span>
                    </a>
                    <br>
                    Eunseo Koh, Sangeek Hyun, MinKyu Lee, Jiwoo Chung, Kangmin Seo, Jae-Pil Heo
                    <br>
                    <em>NeurIPS</em>, 2025
                    <br>
                    <a href="https://openreview.net/forum?id=Kf9eNbp4wy">OpenReview</a>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td style="padding:20px;width:100%;vertical-align:middle">
                <div class="pub-card">
                  <div class="pub-media">
                    <img src="static/images/ICCV2025_Fine-Tuning.png" alt="ICCV 2025 Fine-Tuning thumbnail">
                  </div>
                  <div class="pub-body">
                    <a href="https://openaccess.thecvf.com/content/ICCV2025/html/Chung_Fine-Tuning_Visual_Autogressive_Models_for_Subject-Driven_Generation_ICCV_2025_paper.html">
                      <span class="papertitle">Fine-Tuning Visual Autoregressive Models for Subject-Driven Generation</span>
                    </a>
                    <br>
                    Jiwoo Chung, Sangeek Hyun, Hyunjun Kim, Eunseo Koh, MinKyu Lee, Jae-Pil Heo
                    <br>
                    <em>ICCV</em>, 2025
                    <br>
                    <em>Qualcomm Innovation Fellowship Korea 2025 Finalist</em>
                    <br>
                    <a href="https://openaccess.thecvf.com/content/ICCV2025/html/Chung_Fine-Tuning_Visual_Autogressive_Models_for_Subject-Driven_Generation_ICCV_2025_paper.html">Paper</a>
                    /
                    <a href="https://arxiv.org/abs/2504.02612">arXiv</a>
                    /
                    <a href="https://github.com/jiwoogit/ARBooth">Code</a>
                    /
                    <a href="https://jiwoogit.github.io/ARBooth">Project</a>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td style="padding:20px;width:100%;vertical-align:middle">
                <div class="pub-card pub-card-first">
                  <div class="pub-media">
                    <img src="static/images/CVPR2025_AutoEncoded.png" alt="CVPR 2025 Auto-Encoded thumbnail">
                  </div>
                  <div class="pub-body">
                    <a href="https://arxiv.org/abs/2412.00124">
                      <span class="papertitle">Auto-Encoded Supervision for Perceptual Image Super-Resolution</span>
                    </a>
                    <br>
                    MinKyu Lee, Sangeek Hyun, Woojin Jun, Jae-Pil Heo
                    <br>
                    <em>CVPR</em>, 2025
                    <br>
                    <a href="https://openaccess.thecvf.com/content/CVPR2025/html/Lee_Auto-Encoded_Supervision_for_Perceptual_Image_Super-Resolution_CVPR_2025_paper.html">Paper</a>
                    /
                    <a href="https://arxiv.org/abs/2412.00124">arXiv</a>
                    /
                    <a href="https://cvpr.thecvf.com/virtual/2025/poster/32435">Poster</a>
                    /
                    <a href="https://github.com/2minkyulee/AESOP-SR">Code</a>
                  </div>
                </div>
              </td>
            </tr>

            <tr>
              <td style="padding:20px;width:100%;vertical-align:middle">
                <div class="pub-card pub-card-first">
                  <div class="pub-media">
                    <img src="static/images/AAAI2024_Noise-free.png" alt="AAAI 2024 Noise-free thumbnail">
                  </div>
                  <div class="pub-body">
                    <a href="https://arxiv.org/abs/2312.17526">
                      <span class="papertitle">Noise-free Optimization in Early Training Steps for Image Super-Resolution</span>
                    </a>
                    <br>
                    MinKyu Lee, Jae-Pil Heo
                    <br>
                    <em>AAAI</em>, 2024
                    <br>
                    <a href="https://doi.org/10.1609/aaai.v38i4.28073">Paper</a>
                    /
                    <a href="https://arxiv.org/abs/2312.17526">arXiv</a>
                    /
                    <a href="https://github.com/2minkyulee/ECO">Code</a>
                  </div>
                </div>
              </td>
            </tr>

          </tbody></table>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
            <tr>
              <td style="padding:0px">
                <br>
                <p style="text-align:right;font-size:small;">
                  <a href="https://github.com/jonbarron/jonbarron_website">Website template</a>.
                </p>
              </td>
            </tr>
          </tbody></table>
    </table>
  </body>
</html>
